@page "/roles/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@using  Microsoft.AspNetCore.Authorization
@using  Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using EventRegistration.Shared.Domain

<h3 class="card-title">Event Roles</h3>
<a href="/vehicles/create" class="btn btn-secondary">  
    <span class="oi oi-plus"></span>   
    Create New Role </a>
<br />
<br />
@if (Roles == null)
{
    <div class="alert alert-info">Loading Roles...</div>
}
else
{
    <table class="table table-responsive"></table>
    <thead>
        <tr>
            <th>Role Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Role in Roles)
        {
            <tr>
                <td>@Role.RoleName</td>
                <td>
                    <a href="/Roles/view/@Role.RoleID" class="btn btn=primary">
                        <span class="oi oi-book"></span>
                    </a>
                    <a href="/Roles/edit/@Role.RoleID" class="btn btn=warning">
                        <span class="oi oi-pencil"></span>
                    </a>
                    <button class="btn btn-danger" @onclick="@(()=>Delete(Role.RoleID))">
                        <span class="oi oi-delete"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>

}
<br />

@code {
    private List<Role> Roles;

    protected async override Task OnInitializedAsync()
    {
        Roles = await _client.GetFromJsonAsync<List<Role>>("api/roles");
    }

    async Task Delete(int RoleID)
    {
        var Role = Roles.First(q => q.RoleID == RoleID);
        var confirm = await js.InvokeAsync<bool>("Confirm", $"Do you want to delete {Role.RoleName}?");
        if (confirm)
        {
            await _client.DeleteAsync($"api/roles/{RoleID}");
            await OnInitializedAsync();
        }
    }
}